* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
}

footer {
    background-color: #333333;
}

/* UTILITY */

/* LAYOUT */

.container {
    width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

.content{
    margin: 0 auto;
}

/* ALTEZZE FISSE

.h-400{
    height: 400px;
}

.h-700{
    height: 700px;
} */

/* MARGIN */

.mt-40{
    margin-top: 40px;
}

.mb-40{
    margin-bottom: 40px ;
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* PADDING */

.p-40 {
    padding: 40px;
}

.p-20 {
    padding: 20px;
}

.p-15{
    padding: 15px;
}

.p-button {
    padding: 10px 50px;
}

.p-top-sides-25{
    padding: 25px 35px 0 25px;
}

/* MEDIA QUERIES */

.header-list {
    display: none;
}

/* BGS */

.purple-bg{
    background-color: #9792E4
}

.blue-bg {
    background-color: #0084FD
}

.light-blue-bg {
    background-color: #B5DDFF;
}

.white-bg{
    background-color: white;
}

/* TEXT CUSTOMIZATION */

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

.txt-grey-bold {
    font-weight: bold;
    color: rgb(110, 110, 110);
    line-height: 1.6;
    font-size: 15px;
}

.txt-light-grey{
    color: rgb(206, 206, 206);
}

.blue-txt{
    color:#0084FD;
}

.white-txt{
    color: white;
}

.purple-txt {
    color: #9792E4;
}

.orange-txt{
    color: rgb(236, 158, 40);
}

.text-align {
    text-align: center;
}

#jumbotron button {
    font-weight: bold;
    font-size: 15px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.line-height{
    line-height: 2;
}

.normal-weight{
    font-weight: 400;
}

.font-size-28{
    font-size: 28px;
}

.letter-spacing {
    letter-spacing: 2px;
}

.font-size-60{
    font-size: 60px;
}

.font-size-18{
    font-size: 18px;
}


/* IMAGES CUSTOMIZATION */

#logo-img {
    width: 80px;
}

#burger-menu {
    width: 30px;
    height: 35px;
}

button img {
    width: 15px;
}

#jumbo-img {
    text-align: center;
}

#jumbo-img img {
    width: 80%;  
}

.blue-img{
    color: #0084FD;
}

.purple-img{
    width: 80%;
}

.testimonials-ph {
    width: 50%;
    height: 150px;
    border-radius: 50%;
}

/* BORDER */

.border-radius{
    border-radius: 40px;
}

button {
    border: none;
}




