* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
}

footer {
    background-color: rgb(61, 60, 60);
}

/* UTILITY */

/* LAYOUT */

.container {
    width: 85%;
    margin: 0 auto;
    background-color: aquamarine;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
    background-color: beige;
}

.content{
    margin: 0 auto;
}

/* ALTEZZE FISSE */

.h-400{
    height: 400px;
}

.h-700{
    height: 700px;
}

/* MARGIN */

.mt-40{
    margin-top: 40px;
}

.mb-40{
    margin-bottom: 40px ;
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* PADDING */

.p-40 {
    padding: 40px;
}

.p-20 {
    padding: 20px;
}

.p-button {
    padding: 10px 50px;
}

.p-top-sides-25{
    padding: 25px 35px 0 25px;
}

/* MEDIA QUERIES */

.header-list {
    display: none;
}

/* BGS */

.purple-bg{
    background-color: rgb(162, 112, 228);
}

.blue-bg {
    background-color: rgb(12, 137, 255);
}

.light-blue-bg {
    background-color: rgb(181, 214, 245);
}

/* TEXT CUSTOMIZATION */

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

.txt-grey-bold {
    font-weight: bold;
    color: rgb(110, 110, 110);
    line-height: 1.6;
    font-size: 15px;
}

.blue-txt{
    color:rgb(12, 137, 255);
}

.white-txt{
    color: white;
}

.text-align {
    text-align: center;
}

#jumbotron button {
    font-weight: bold;
    font-size: 15px;
}


/* IMAGES CUSTOMIZATION */

#logo-img {
    width: 80px;
}

#burger-menu {
    width: 30px;
    height: 35px;
}

button img {
    width: 15px;
}

#jumbo-img {
    text-align: center;
}

#jumbo-img img {
    width: 80%;  
}

.blue-img{
    color: rgb(12, 137, 255);
}

/* BORDER */

.border-radius{
    border-radius: 40px;
}

button {
    border: none;
}




